$sidebar-width: 300px;

.sidebar {
    background: rgba(#fff, .8);
    width: $sidebar-width + 1px;
    border-right: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 90px;
    box-shadow: rgba(#000, .15) 0px 0px 3px;

    .nav {
        .divider {
            font-size: 0;
            border-bottom: 1px solid #ddd;
            margin: 20px 20px;
        }
        .divider:first-child,
        .divider:last-child,
        .divider + .divider {
            display: none;
        }
        .dropdown-header {
            font-weight: 600;
            font-size: 0.8em;
            margin-bottom: 4px;
            text-transform: uppercase;
        }

        > li > a {
            padding: 6px 20px;
        }

        > li.active {
            font-weight: 700;
        }

        > li > a:hover,
        > li > a:focus {
            background-color: #eee;
        }
    }
}

